.header {
  display: block;
  margin: 5vh auto 3vh;
  padding: 20px;
  width: 80vw;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(254, 255, 165) 0%,
    rgb(255, 232, 182) 90%
  );
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 5px 20px rgba(89, 35, 61, 0.2);
}

h1 {
  font-family: "Fredoka One", cursive;
  font-weight: 100;
  font-size: 30px;
}

.header img {
  max-width: 150px;
}

.Dictionary input {
  width: 75%;
  padding: 6px 15px;
  border-radius: 20px;
  border: 2px solid rgb(89, 35, 61);
}

.Dictionary button {
  border-radius: 25px;
  border: 2px solid rgb(89, 35, 61);
  background: white;
  padding: 6px 11px;
}
