.header {
  margin: 5vh auto 3vh;
  padding: 20px;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(254, 255, 165) 0%,
    rgb(255, 232, 182) 90%
  );
  text-align: center;
}

.hero {
  width: 80vw;
  height: 90vh;
  margin: 5vh auto 3vh;
  padding: 20px;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(254, 255, 165) 0%,
    rgb(255, 232, 182) 90%
  );
  text-align: center;
  border-radius: 15px;
  box-shadow: 0 5px 20px rgba(89, 35, 61, 0.2);
}

.hero img {
  max-height: 30vh;
}

.hero input {
  max-width: 55%;
}

.hero h1 {
  font-size: 62px;
  padding-top: 22vh;
}

.hero form {
  padding-bottom: 6vh;
}

section {
  background: white;
  display: block;
  margin: 3vh auto;
  padding: 25px;
  width: 80vw;
  border-radius: 15px;
  box-shadow: 0 5px 20px rgba(89, 35, 61, 0.2);
}

h1 {
  font-family: "Fredoka One", cursive;
  font-weight: 100;
  font-size: 30px;
}

.header img {
  max-width: 150px;
}

.Dictionary input {
  width: 75%;
  padding: 6px 15px;
  border-radius: 20px;
  border: 2px solid rgb(89, 35, 61);
}

.Dictionary button {
  border-radius: 25px;
  border: 2px solid rgb(89, 35, 61);
  background: white;
  padding: 6px 11px;
}

@media (max-width: 575px) {
  .hero {
    margin: 1vh;
    width: auto;
    height: 98vh;
  }

  .hero h1 {
    font-size: 55px;
    padding-bottom: 5vh;
  }

  .hero form {
    padding-bottom: 13vh;
  }

  .hero input {
    max-width: 80vw;
  }

  h1 {
    font-size: 26px;
  }
}
