.Meaning h3 {
  color: rgb(209, 113, 111);
  margin: 0 0 25px;
  line-height: 1;
  font-size: 30px;
}

.Meaning p {
  margin: 0 0 3px;
  font-size: 18px;
}

.Meaning .definition {
  margin: 25px 0;
  padding-left: 14px;
  border-left: 2px solid rgb(209, 113, 111);
}

@media (max-width: 575px) {
  .Meaning h3 {
    font-size: 25px;
  }

  .Meaning p {
    font-size: 16px;
  }
}
