.word {
  background: white;
  display: block;
  margin: 3vh auto;
  padding: 25px;
  width: 80vw;
  border-radius: 15px;
  box-shadow: 0 5px 20px rgba(89, 35, 61, 0.2);
}

.word h2 {
  font-family: "Fredoka One", cursive;
  font-weight: 100;
  font-size: 40px;
  color: rgb(89, 35, 61);
}
